.home {
    
    /* background-image: linear-gradient(to right , #0099f7 , #f11712); */
    /* padding-top: 60px; */
    /* margin-left: 20px; */
}
.par{
    margin-top: 10px;
}

.par >p{
    max-width: 50%;
    background: none;
    margin-left: 20px;
    
    
}

 .par{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#list{
    margin-left: 100px;
    text-decoration: none;
    background: none;
}

